<h1>Your Cart</h1>

{% if products %}

{% for product in products %}

<div style="border:1px solid gray; padding:10px; margin:10px;">

<img src="{{ product.image.url }}" width="200">

<h2>{{ product.name }}</h2>

<p>Price: ₹{{ product.price }}</p>

<a href="/remove-from-cart/{{ product.id }}/">
<button>Remove</button>
</a>

</div>

{% endfor %}

<h2>Total Price: ₹{{ total }}</h2>

{% else %}

<p>Your cart is empty</p>

{% endif %}
<a href="/checkout/">
<button style="padding:10px; background:green; color:white;">
Checkout
</button>
</a>